@model IEnumerable<NotesModel>

@{
    ViewData["Title"] = "Notes";
}

<h1>Here's your list of notes....</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Content)</th>
            <th>@Html.DisplayNameFor(model => model.IsActive)</th>
            <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td>@Html.DisplayFor(noteModel => note.Title)</td>
                <td>@Html.DisplayFor(noteModel => note.Content)</td>
                <td>@Html.DisplayFor(noteModel => note.IsActive)</td>
                <td>@Html.DisplayFor(noteModel => note.CreationDate)</td>
            </tr>

        }
    </tbody>
</table>